<!DOCTYPE html>
<html>
<body style="font-family: Arial; background:#f4f4f4; padding:20px;">

<div style="background:white; padding:20px; border-radius:10px; text-align:center;">

<h2 style="color:#4CAF50;">🚗 Test Drive Confirmed!</h2>

<p>Hello {{ user.username }},</p>

<p>Your test drive has been successfully booked.</p>

<hr>
<p><b>Your Name:</b> {{ YourName }}</p>
<p><b>Car:</b> {{ car.name }}</p>
<p><b>PickupLocation:</b> {{ PickupLocation }}</p>
<p><b>Date:</b> {{ date }}</p>
<p><b>Time:</b> {{ time }}</p>

<hr>

<p style="color:gray;">Thank you for choosing us ❤️</p>

</div>

</body>
</html>